<h1>商品一覧</h1><p>(全<%= @product.count %>件)</p>
<!--ジャンル検索したらジャンル一覧-->

<div class="d-flex flex-wrap">
 <%= @products.each do |product| %>
 
 <%= link_to customers_product(product) do %>
   <%= attachment_image_tag product, :image, :fill, 30, 30, fallback: "no_image.jpg" %>
   <%= product.name %>
 <% end %>
   
    <p>¥<%= product.price(:delimited) %></p>
 <% end %>
</div>


<%= paginate @products %>