<div class="container">
  <div class="row">
      <div class="col-md-5 mx-auto text-center">
    　   <%= attachment_image_tag @product, :image, size: '300x300', fallback: "no_image.jpg", size: '300x300' %>
    　</div>
    　<div class="col-md-5 mx-auto mt-5">
        <h2><%= @product.name %></h2>
        <br>
        <%= @product.description %>
        <br><strong>¥<%= (@product.add_tax_price.to_s(:delimited)) %>(税込)</strong>
        
        <div class="form-group">
          <%= form_with model:@cart_item, url: cart_items_path, method: :post, local:true do |f| %>
          <br>
            <%= f.label :count, "個数選択" %>
            <%= f.select :count, [1,2,3,4,5,6,7,8,9,10], {selected: 1}, class: "form-select" %>
            <%= f.submit"カートに入れる", class:"btn btn-outline-secondary" %>
            <%= f.hidden_field:product_id, :value => @product.id %>
          <% end %>
        </div>
    </div>
  </div>
</div>