
<div class="container">
<div class="row">  


<div class="col-md-1"></div>

<div class="col-md-9">

<h3><%= @customer.family_name %><%=@customer.first_name %>さんの会員情報編集</h3>

<%= form_with model: @customer, url: "/customers/edit" local :true do |f| %>

 <div class="form-group">
        <%= f.label :name, "氏名" %>
        <%= f.text_field :family_name, class: "form-control name", placeholder:"姓"  %>
         <%= f.text_field :first_name, class: "form-control name", placeholder:"名"  %>
      </div>
      
      <div class="form-group">
        <%= f.label :name, "フリガナ" %>
        <%= f.text_field :family_name_kana, class: "form-control name", placeholder:"セイ"  %>
         <%= f.text_field :first_name_kana, class: "form-control name", placeholder:"メイ"  %>
      </div>
      
     
      
      <div class="form-group">
        <%= f.label :name, "郵便番号" %>
        <%= f.number_field :postal_code, class: "form-control name", placeholder:"郵便番号"  %>
        </div>
        
          <div class="form-group">
        <%= f.label :name, "住所" %>
        <%= f.text_field :address, class: "form-control name", placeholder:"住所"  %>
        </div>
      
      <div class="form-group">
        <%= f.label :name, "電話番号" %>
        <%= f.number_field :phone_number, class: "form-control name", placeholder:"電話番号"  %>
      </div>
  
    <div class="form-group">
        <%= f.label :name, "メールアドレス" %>
        <%= f.email_field :email, class: "form-control name", placeholder:"email"  %>
      </div>
  
  
  <%= f.submit "変更を保存", class:"btn btn-success" %>
<% end %>



<div class="col-md-2"></div>

</div>
</div>