<div class="container">
  <h1 class="text-center">注文履歴一覧</h1>
  <div class="row">
    <table class="table table-striped col-md-6 mx-auto text-center">
      <thead>
        <tr>
          <th style="width: 25%">購入日時</th>
          <th style="width: 25%">購入者</th>
          <th style="width: 25%">注文個数</th>
          <th style="width: 25%">ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% orders.each do |order| %>
          <tr>
            <td>
              <%= link_to (l order.created_at), admin_order_path(order.id) %>
            </td>
            <td>
              <%= order.customer.family_name %><%= order.customer.first_name %>
            </td>
            <td>
              <%= order.order_products.sum(:count) %>
            </td>
            <td>
              <%= order.status %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= paginate @orders %>
</div>