<h2>注文履歴詳細</h2>

<h4>注文情報</h4>
    <p>注文日</p>
    <%= @order.created_at %></td>
    <p>購入者</p>
    <%= @order.customer.family_name %><%= @order.customer.first_name %>
    <p>配送先</p>
      〒<%= @order.receiver_postal_code %><br>
      <%= @order.receiver_address %><br>
      <%= @order.receiver %>

    <h4>支払方法</h4>
    <p><%= @order.payment_method %></p>

    <h4>注文ステータス</h4>
    <%= form_with model: @order, url: admin_order_path(@order), method: :patch, local: true do |f| %>
    <%= f.select :status, Order.statuses.keys %>
    <%= f.submit '更新' %>
    <% end %>

  <table class="table">
    <thead>
      <tr>
        <th>商品名</th>
        <th>単価(税込)</th>
        <th>数量</th>
        <th>小計</th>
        <th>製作ステータス</th>
      </tr>
    </thead>
    <tbody>
      <% @order_products.each do |order_product| %>
        <tr>
          <td><%= order_product.product.name %></td>
          <td><%= order_product.price_tax %></td>
          <td><%= order_product.count %></td>
          <td><%= order_product.price_tax * order_product.count %></td>
          <td>
          <%= form_with model: order_product, url: admin_order_order_product_path(@order, order_product), method: :patch, local: true do |f| %>
            <%= f.select :making_status, OrderProduct.making_statuses.keys %>
            <%= f.submit '更新' %>
          <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <h4>商品合計</h4>
  <%= order_sumtotal(@order.order_products).to_s(:delimited) + "円" %>
  <h4>送料</h4>
  <%= @order.postage.to_s(:delimited) + "円" %>
  <h4>請求金額合計</h4>
  <%= order_total(@order).to_s(:delimited) + "円" %>


