<div class="container">
  <h1 class="text-center">ジャンル一覧</h1>
  <div class="row">
    <table class="table table-striped col-md-5 mx-auto text-center">
      <thead>
        <tr>
          <th style="width: 60%">ジャンル名</th>
          <th style="width: 40%"></th>
        </tr>
      </thead>

      <tbody>
        <% @genres.each do |genre| %>
          <tr>
            <td><%= genre.name %></td>
            <td><%= link_to "編集", edit_admin_genre_path(genre) %></td>
          </tr>
        <% end %>
        <tr>
          <%= form_with model: [:admin, @genre], local: true do |f| %>
          <td>
            <div class="form-group">
              <%= f.text_field :name, :placeholder => "新しいジャンル名", class: "form-control col-m-3" %>
            </div>
          </td>
          <td>
            <div class="form-group mt-2">
              <%= f.submit "新規登録", class: "btn btn-outline-secondary btn-sm" %>
            </div>
          </td>
          <% end %>
        </tr>
      </tbody>
    </table>
  </div>
</div>

