  <div class="form-group">
    <%= f.label :"商品画像" %>
    <%= f.attachment_field :image, class: "form-control-file" %>
  </div>
  <div class="form-group">
    <%= f.label :"商品名" %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :"商品説明" %>
    <%= f.text_area :description, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :"ジャンル" %>
    <%= f.collection_select(:genre_id, genres, :id, :name, prompt: "-- 選択してください --", class: "") %>
  </div>
  <div class="form-group">
    <%= f.label :"税抜価格" %>
    <div class=form-row>
    <%= f.text_field :price, class: "form-control col-md-2" %>
    <span>　円</span>
    </div>
  </div>
  <div class="form-check">
    <%= f.label :"販売ステータス", class: "form-check-label" %>
    <div class="form-check">
    <%= f.radio_button :is_active, :true, class: "form-check-input" %>
    <%= f.label :is_active, "販売中", {value: :true} %>
    </div>
    <div class="form-check">
    <%= f.radio_button :is_active, :false, class: "form-check-input" %>
    <%= f.label :is_active, "売切れ", {value: :false} %>
    </div>
  </div>