<div class="form-group">
  <%= f.label :"商品画像", class: "control-label" %>
  <%= f.attachment_field :image, class: "image" %>
</div>
<div class="form-group">
  <%= f.label :"商品名", class: "control-label" %>
  <%= f.text_field :name, class: "form-control-static name" %>
</div>
<div class="form-group">
  <%= f.label :"商品説明", class: "control-label" %>
  <%= f.text_area :description, class: "control-label explanation" %>
</div>
<div class="form-group">
  <%= f.label :"ジャンル", class: "control-label" %>
  <%= f.collection_select(:genre_id, genres, :id, :name, prompt: "-- 選択してください --", class: "genre_id") %>
</div>
<div class="form-group">
  <%= f.label :"税抜価格", class: "control-label" %>
  <%= f.text_field :price, class: "form-control-static tax_out_price" %>円
</div>
<div class="form-group">
  <%= f.label :"販売ステータス", class: "control-label" %>
  <%= f.radio_button :is_active, :true %>
  <%= f.label :is_active, "販売中", {value: :true} %>
  <%= f.radio_button :is_active, :false %>
  <%= f.label :is_active, "販売停止", {value: :false} %>
</div>

