<div class="container">
  <h1>商品一覧</h1>
      <div>
        <%= link_to new_admin_product_path, class: "btn btn-warning pull-right new_product" do %>
        <i class="fas fa-plus"></i>
    
        <% end %>
        <table class="table table-striped">
          <thead>
            <tr>
              <th style="width: 10%">商品ID</th>
              <th style="width: 30%">商品名</th>
              <th style="width: 20%">税抜価格</th>
              <th style="width: 20%">ジャンル</th>
              <th style="width: 20%">ステータス</th>
            </tr>
          </thead>
          <tbody>
    				<% @products.each do |product| %>
      				<tr>
                <td>
                  <%= product.id %>
                </td>
                <td>
                  <%= link_to admin_product_path(product), class: "btn-link" do %>
                    <%= product.name %>
                  <% end %>
                </td>
                <td>
                  ¥<%= product.price.to_s(:delimited) %>
                </td>
                <td>
                  <%= product.genre.name %>
                </td>
                <td>
                  <% if product.is_active == true %>
          					<p>販売中</p>
          				<% elsif product.is_active == false %>
          					<p>販売停止中</p>
          				<% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
    </div>
</div>
