<div class="container">
  <h1 class="text-center">商品一覧</h1>
      
      <div class="my-3　mr-5 text-right">
        <%= link_to"商品新規登録", new_admin_product_path, class: "btn btn-outline-secondary" %>
      </div>
      
        <table class="table table-sm table-striped">
          <thead>
            <tr>
              <th class="text-center"　style="width: 10%">商品ID</th>
              <th class="text-center"　style="width: 30%">商品名</th>
              <th　class="text-center" style="width: 20%">税抜価格</th>
              <th class="text-center"　style="width: 20%">ジャンル</th>
              <th class="text-center"　style="width: 20%">ステータス</th>
            </tr>
          </thead>
          <tbody>
    				<% @products.each do |product| %>
      				<tr>
                <td>
                  <%= product.id %>
                </td>
                <td class="link">
                  <%= link_to admin_product_path(product) do %>
                    <%= product.name %>
                  <% end %>
                </td>
                <td>
                  ¥<%= product.price.to_s(:delimited) %>
                </td>
                <td>
                  <%= product.genre.name %>
                </td>
                <td>
                  <% if product.is_active == true %>
          					<p>販売中</p>
          				<% elsif product.is_active == false %>
          					<p>販売停止中</p>
          				<% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
    </div>
    
    <%= paginate @products %>
</div>
