
<!DOCTYPE html>
<html>
  <head>
    <title>WorkGithub</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--フォント-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@300&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
  </head>

  <body>
    <header>
      <div class="container">
        <div class="row">


         <div class="title mx-auto mt-3">
             <% if admin_signed_in? %>
                 <%= link_to image_tag("logo_transparent.png", class:"logo"), admin_top_path %>
             <% else %>
                 <%= link_to image_tag("logo_transparent.png", class:"logo"), root_path %>
             <% end %>
         </div>
        </div>


         <nav class="row justify-content-center">
           <ul class="nav nav-fill mb-1">
             
            <% if customer_signed_in? %>
             <!--<p>ようこそ、<%= current_customer.family_name %>さん!</p>-->
            <li class="nav-item">
             <%= link_to "My Page", customers_my_page_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
             <%= link_to "Menu", customers_products_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
             <%= link_to "Basket", cart_items_path(current_customer), class: "nav-link" %>
            </li>
            <li class="nav-item">
             <%= link_to "Log out", destroy_customer_session_path, method: :delete, class: "nav-link" %>
            </li>

          <% elsif admin_signed_in? %>
            <li class="nav-item">
             <%= link_to "Products", admin_products_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
             <%= link_to "Customers", admin_customers_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
             <%= link_to "Orders", admin_top_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
             <%= link_to "Genres", admin_genres_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
             <%= link_to "Log out", destroy_admin_session_path, method: :delete, class: "nav-link" %>
            </li>

            <%= form_with url:admin_products_path, method: :get, local: true do |f| %>
            <%= f.text_field 'search[value]' %>
            <%= f.select 'search[how]', options_for_select({ "完全一致" => "match", "前方一致" => "forward", "後方一致" => "backward", "部分一致" => "partical"  }) %>
            <%= f.submit :"検索" %>
            <% end %>

          <% else %>

            <li class="nav-item">
              <%= link_to"About", about_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to"Menu", customers_products_path, class: "nav-link" %>
             </li>
             <li class="nav-item">
               <%= link_to"Sign up", new_customer_registration_path, class: "nav-link" %>
             </li>
             <li class="nav-item">
               <%= link_to"Log in", new_customer_session_path, class: "nav-link" %>
             </li>
          <% end %>
           </ul>
          </nav>
      </div>

    </header>

    <main>
        <!--フラッシュ-->
        <div class="notice"><%= notice %></div>
        <div class="notice"><%= alert %></div>
      <%= yield %>
    </main>

    <footer>
     <div class="container mt-5">
      <div class="row">
      　<div class="mx-auto">
        　<p>@one piece</p>
    　　</div>
    　 </div>
    　</div>
    </footer>
  </body>
</html>
