
<!DOCTYPE html>
<html>
  <head>
    <title>WorkGithub</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
        <li>
         <%= link_to"LOGO", root_path %>
        </li>
      <% if customer_signed_in? %>
      
        <%= ようこそ、@customer.family_name さん! %>
        <li>
         <%= link_to"マイページ", custemers_path(current_user) %>
        </li>
        <li>
         <%= link_to"商品一覧", product_path %>
        </li>
        <li>
         <%= link_to"カート", cart_item_path %>
        </li>
        <li>
         <%= link_to"ログアウト", destroy_customer_session %>
        </li>
        
      <% elsif admin_signed_in? %>
        <li>
         <%= link_to"商品一覧", admin_product_path %>
        </li>
        <li>
         <%= link_to"会員一覧", admin_custemer_path %>
        </li>
        <li>
         <%= link_to"注文履歴一覧", admin_top_path %>
        </li>
        <li>
         <%= link_to"ジャンル一覧", admin_product_genres_path %>
        </li>
        <li>
         <%= link_to"ログアウト", destroy_customer_session %>
        </li>
        
      <% else %>
        <li>
          <%= link_to"About", about_path %>
        </li>
        <li>
          <%= link_to"商品一覧", product_path %>
         </li>
         <li>
           <%= link_to"新規登録", new_customer_registration_path %>
         </li>
         <li>
           <%= link_to"ログイン", new_customer_session_path %>
         </li>
       <% end %>
      </nav>
    </header>
    
    
    <main><%= yield %></main>
    
    
    <footer>
      <p>@one pice</p>
    </footer>
  </body>
</html>
